*{
	margin: 0;
	padding: 0;
}
.nav_cs{
	/*display: flex;*/
	/*position: fixed;*/
	position: absolute;
	top: 0;
	width: 100%;
	height: 75.59px;
	background-color: black;
}
.nav_left{
	padding-left: 18%;
}
.nav_right{
	margin-right: 100px;	
}
.nav_li{
	color: gray;
	border: none;
	font-size: 20px;
	background-color: black;
}
.nav_li:hover{
	color: white;
	background-color: black;
	border: 1px solid gainsboro;
	border-radius: 20%;
}
.contactd{
	color: white;
	background-color: black;
	border: 1px solid gainsboro;
	border-radius: 20%;
}

/*center*/
#center{
	height: 951px;
	width: 100%vw;
	border: 1px;
	background-color: #f5f5f5;
	background-repeat: no-repeat;
	background-position:center;
	background-position-y: 150px;
	background-image: url(../img/contact/c-point.png);
	
}
.row_1{
	padding-top: 200px;
}
em{
	font-weight: bold;
    font-style: normal;
    vertical-align: middle;
    font-size: 1.1em;
    color: #595757;
}
span{
	font-size: 1.4em;
    vertical-align: middle;
    font-weight: bold;
}
p{
	margin: 0 3px;
	padding-bottom: 0;
	
}
.col-md-4_email{
	/*text-align: center;*/
	padding-left: 5%;
	margin-top: 25px;
}
.row_3{
	height: 20%;
	margin-top: 70px;
}
.center_img{
	float: left;
}
.center_num{
	padding-left: 40px;
}
.center_num_2{
	padding-top: 15px;
}
#background_b{
	position: relative;
	top: -140px;
}
#background_b img{
	width: 100%;
}
.div1,.div2,.div3,.div4{
	width: 25px;
	height: 25px;
	float: left;
	position: relative;
	margin: 3px;
	/*overflow: hidden;*/
}
.footer_center{
	text-align: center;
	justify-content: center;
}
.footer_center_1{
	display: flex;
	justify-content: center;
	position: relative;
	top: -60px;
}
.img-1,.img-2,.img-3,.img-4{
	display: none;
	position: absolute;
	display: none;
}
.footer_center_1 div:hover .img-1{
	display: block;
}
.footer_center_1 div:hover .img-2{
	display: block;
}
.footer_center_1 div:hover .img-3{
	display: block;
}
.footer_center_1 div:hover .img-4{
	display: block;
}
.footer_center_2{
	position: relative;
	top: -50px;
}
.footer_low{
	/*margin-top: 40px;*/
	font-size: 0.7em;
    vertical-align: middle;
    font-weight: bold;
}
.footer_center_3{
	height: 100px;
	border: 1px;
	width: 100%;
	position: relative;
	top: -50px;
}
.navbar-default .navbar-toggle .icon-bar{
	background-image: url(../img/home/nav.png);
	display: block;
    width: 25px;
    height: 4px;
    border-radius: 5px;
}
.navbar-toggle {
	border: none;
	margin-top: 15px;
}
/*响应*/
@media screen and  (max-width: 1483px){
.btn{
	padding: 0;
}
}
@media screen and  (max-width: 1333px){
.nav_li{
	color: gray;
    border: none;
    font-size: 1.2em;
    background-color: black;
}
}
@media screen and  (max-width: 1035px){
.nav_li{
    position: absolute;
}
}
